body{
  width:400px;
  background-color: aqua;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}
button{
  border-radius: 10px;
  border-color: black;
}
header{
  border: 2px solid black;
  padding-bottom: 20px;
}
ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-radius: 30px;
}
li{
  float: left;
}
li, a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
img{
  width: 200px;
  height: 200px;
}
#clock{
  font-size: 24px;
  padding: 20px;
}